MONGODB_URI = mongodb+srv://jaffasunny:jaffa123@cluster0.w5fdm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SALT_ROUNDS = 10
JWT_SECRET_KEY = thisisabitsofcode

ACCESS_TOKEN_SECRET=thisisabitsofcode
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh-token-secret
REFRESH_TOKEN_EXPIRY=7d

STRIPE_PUBLISHABLE_KEY=pk_test_51OZZftLVcakMOjHsG5oiRYACG8KoFluyG3HQBxpiykT7mNqHM9Ijskz4zs7XCYCeCaN2ueVOQBmVLzes34NRCA5V00z5N98TJf
STRIPE_SECRET_KEY=sk_test_51OZZftLVcakMOjHsFSUbVsXDO6Pmv516dGkmMdpXhiZynzX8fAZ4InLsUUO2fMYs3f1iMAQnU74FbBeSqESdgZhN008MdV0nrJ

SUPER_ADMIN_EMAIL='superadmin@example.com'
SUPER_ADMIN_PASSWORD=superAdmin123

CORS_ORIGIN=*

CLOUDINARY_CLIENT_NAME=jaffasunny
CLOUDINARY_API_KEY=843579838353621
CLOUDINARY_API_SECRET=B7Xp4lS1zCTtlXoL6j0_IjXkFQY

HOST = smtp.gmail.com
USER = jaffer.sunny125@gmail.com
PASS = uray wxtd jone rcpx
SERVICE = Gmail

BASE_URL = http://localhost:3000/auth